/** GLOBAL **/

body{
	margin: auto;
	padding: 5px;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
}

.wrapper{
	width: 1340px;
	margin-left: auto;
    margin-right: auto;
}

a{
	text-decoration: none;
	color: #000;
}

a:visited{
	color: #000;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.5em;
}

h3{
	font-size: 1.3em;
}

h5{
	font-size: 1.2em;
}

h1, h2, h3, h5{
	font-weight: bold;
}

/** ENTETE DE PAGE **/

#entete{
	display: flex;
	padding-top: 20px;
	margin-bottom: 20px;
}

#logo{
	width: 50%;
}

#entete img{
	display: flex;
	float: left;
	width: 96px;
}

#barre_nav{
	width: 40%;
	margin-top: 20px;
}

#barre_nav ul{
	display: flex;
	justify-content: flex-end;
}

#barre_nav li{
	margin-right: 30px;
}

#barre_nav li a:hover{
	color: #0065FC;
	border-top: solid #0065FC 1px;
	padding-top: 40px;
}

#sub{
	margin-top: 20px;
}

#sub a{
	color: #0065FC;
	font-weight: bold;
}

header h1{
	clear: both;
	margin-bottom: 10px;
}

header p{
	margin-bottom: 20px;
}


/** RECHERCHE **/

#recherche form{
	display: flex;
	height: 52px;
	border-radius: 15px 0 0 15px;
	background-color: #F2F2F2;
	width: fit-content;
	margin-bottom: 30px;
}

#recherche form label,p{
	margin-bottom: auto;
    margin-top: auto;
}

#recherche form label{
	width: 50px;
	text-align: center;
	font-size: 1.2em;
}


#ville{
	height: 48px;
	border: #F2F2F2;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: middle;
}

#btnphone_search{
	display: none;
}

#btn_search{
	width: 135px;
	height: 50px;
	background-color: #0065FC;
	color: #FFF;
	border: none;
	border-radius: 0 10px 10px 0;
	font-size: 1.2em;
}

#filter{
	display: flex;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
}

#filter ul{
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
}


#filter p{
	padding-left: 10px;
	margin-right: 15px;
}


#filter i{
	padding: 21px;
	background-color: #DEEBFF;
	color: #0065FC;
	text-align: center;
	border-radius: 50px 50px 50px 50px ;
	margin-left: 15px;
	position: absolute;
}
 
#filter .text_search{
	margin-left: 15px;
	border: 1px solid #F2F2F2;
	border-radius: 50px 50px 50px 50px;
	padding: 20px 10px 20px 70px;
}

#information{
    margin-top: 40px;
    margin-bottom: 40px;
}

#information i{
    border: 1px #f2f2f2 solid;
    border-radius: 25px 25px 25px 25px;
    width: 16px;
    text-align: center;
    float: left;
    padding: 5px;
    color: #0065FC;
}

#information p{
	padding-top: 8px;
    padding-left: 35px;
}


/** RESULTAT **/


#hebergement{
	display: flex;
}

.star{
	color: #0065FC;
}

#result_search h2{
	margin-bottom: 20px;
	margin-left: 15px;
}

#result_search{
	flex: 3;
    background-color: #f2f2f2;
    padding: 45px 10px;
    border-radius: 10px 10px 10px 10px ;
    width: 880px;
}

#first_line, #sec_line{
	display: flex;
	justify-content: center;
}

#first_line div, #sec_line div{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
}

#result_search img{
	margin-bottom: 10px;
	border-radius: 10px 10px  0 0;
	width: 236px;
	height: 114px;
}

.add{
	background-color: #FFF;
	border-radius: 10px 10px 10px 10px ;
	padding: 5px;
}

.add h5, .add p, .add span{
	padding-left: 10px;
	padding-bottom: 10px;
}


#populaire{
	flex: 1.5;
    width: 420px;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 10px 25px 25px 25px;
    margin-left: 40px;
    padding: 45px 40px 34px 35px;
}

#stat{
	float: right;
}

#populaire ul{
	    margin-top: 25px;
}

#populaire li{
	position: relative;
	margin-top: 16px;
	margin-bottom: 16px;
	background-color: #FFF;
	border-radius: 10px 10px 10px 10px;
}

#populaire img{
	width: 127px;
	height: 134px;
	padding: 5px;
	vertical-align: middle;
	border-radius: 10px 0 0 10px;
}

#populaire h5{
	position: absolute;
	top: 14px;
	left: 148px;
	padding-right: 5px;
}

#populaire p{
	position: absolute;
	top: 60px;
	left: 138px;
}

#populaire span{
	position: absolute;
	top: 114px;
	left: 148px;
}

#more{
	margin-left: 20px;
	font-weight: bold;
}


/** ACTIVITES **/

#activite{
	margin-top: 65px;
	margin-bottom: 25px;
}

#act_table, #act_table article{
	display: flex;
	margin-top: 25px;
}

#act_table article{
	flex: 1;
}

#act1, #act4{
	height: 450px;
	width: 300px;
	border-radius: 25px 25px 25px 25px ;
	box-shadow: 5px 5px 5px;	
	overflow: hidden;
}

#act1_title, #act4_title{
	position: relative;
	height: 55px;
	width: 300px;
	border-radius: 0 0 25px 25px;
	background-color: #FFF;
    top: -55px;
    left: 20px;
}

#act1{
	margin-right: 40px;
}

#act4{
	margin-left: 10px;
	margin-right: 40px;
}
#act1 img{
	position: relative;
	left: -201px;
	right: -201px;
	top: -73px;
	border-radius: 25px 25px 0 0;
}

#act4 img{
	position: relative;
	left: -153px;
	right: -153px;
	top: -7px;
}

.second_act, .second_act2{
	height: 450px;
	width: 300px;
}

#act2, #act3, #act5, #act6{
	height: 215px;
	width: 300px;
	border-radius: 25px 25px 25px 25px ;
	box-shadow: 5px 5px 5px;	
	overflow: hidden;
}


#act2, #act5{
	margin-bottom: 20px;
}

#act2_title, #act5_title{
	position: relative;
	height: 55px;
	width: 300px;
	border-radius: 0 0 25px 25px;
	background-color: #FFF;
}

#act2_title h5{
	padding-left: 20px;
	padding-top: 15px;
}

#act2 img{
	position: relative;
	margin: -170px 0 -200px 0;
}

#act3 img{
	position: relative;
	margin: -115px 0 0 -225px
}

#act3_title, #act6_title{
	position: relative;
	height: 55px;
	width: 300px;
	border-radius: 0 0 25px 25px;
	background-color: #FFF;
	top: -160px;
}

#act3_title h5{
	padding-left: 20px;
	padding-top: 15px;
}

#act5 img{
	position: relative;
	margin: -45px 0 -180px -200px;
}

#act5_title h5{
	padding-left: 20px;
	padding-top: 15px;
}

#act6 img{
	position: relative;
	margin: -105px 0 45px -100px;
}

#act6_title h5{
	padding-left: 20px;
	padding-top: 15px;
}


/** PIED DE PAGE **/

footer{
	background-color: #F2F2F2;
	height: 200px;
	width: 100%
}

footer .wrapper{
	display: flex;
	justify-content: flex-start;
}

#propos , #nos_heberg , #assist{
	margin-right: 250px;
	margin-top: 50px;
}

#propos h3, #nos_heberg h3, #assist h3{
	margin-bottom: 20px;
}

#propos li, #nos_heberg li, #assist li{
	margin-bottom: 20px;
}



/** FORMAT TABLETTE **/

@media (max-width: 768px)
{
    
}


/** FORMAT MOBILE **/

@media (max-width: 375px)
{

	body{
		width: 100%;
		padding: 0;
	}

	.wrapper{
		width: 100%;
	}

	h1{
		font-size: 1.6em;
		padding: 0 20px;
	}


	/** ENTETE DE PAGE **/


	#entete{
	    display: flex;
	    padding-top: 20px;
	    flex-direction: column;
	    margin-bottom: 20px;
	}

	#logo{
		width: 50%;
	    margin-bottom: 20px;
	    margin-left: 20px;
	}

	#entete img{
		display: flex;
		float: left;
		width: 100px;
	}
	 

	#barre_nav, #sub{
	    font-size: 1.2em;
	}

	#barre_nav li{
	    border-bottom: 1px solid #F2F2F2;
	    padding: 10px;
	    margin: 0;
	    width: 50%;
	    text-align: center;
	}

	#barre_nav li:active{
	    border-bottom: 1px solid #0065FC;
	    color: #0065FC;
	    border-top: none;
	}

	#entete li a:hover{
		border-top: none;
	}

	#barre_nav{
		width: 100%;
	}

	#sub{
	    position: relative;
	    left: 265px;
	    top: -105px;
	    text-decoration: none;
	    border: none;
	    margin: 0;
	}

	header p{
		padding: 0 20px;
	}


	/** RECHERCHE **/

	#recherche{
		padding: 0 20px;
	}

	#recherche form p{
		padding: 0;
	}

	#ville{
		width: 230px;
	}

	#btn_search{
		display: none;
	}

	#btnphone_search{
	    width: 20px;
	    display: inline;
	    position: relative;
	    background-color: #0065FC;
	    padding: 16px;
	    border-radius: 0 15px 15px 0;
	}

	#filter{
		display: block;
	}

	#filter ul:last-child{
		display: block;
	}

	#filter li{
		margin-top: 15px;
		width: fit-content;
	}

	#filter .text_search, #filter li i{
		margin-left: 0;
	}


	/** RESULTAT **/

	#hebergement{
		flex-direction: column-reverse;
	}

	#populaire{
		flex: 1;
		width: auto;
		margin: 0;
		border-radius: 0 0 0 0;
	}

	#populaire h5{
		font-size: 1em;
	}

	#populaire p{
		left: 145px;
	}
	
	#result_search{
		flex: 1;
		width: auto;
	}

	#result_search img{
		width: 315px;
	}

	#first_line, #sec_line{
		display: block;

	}


	/** ACTIVITES **/

	#activite{
		padding: 45px 40px 34px 35px;
	}

	#act_table, #act_table article {
	    margin-top: : 25px;
	    display: block;
	}

	#act4, #act5, #act6{
		margin-left: 0;
		margin-right: 0;
	}

	#act1, #act4{
		margin-bottom: 20px;
	    height: 190px;
	}

	#act1_title{
		top: -330px;
		left: 0;
	}

	#act4_title{
		top: -270px;
		left: 0;
	}

	#act1 img{
		top: -170px;
	}

	#act4 img {
	    top: -182px;
	}

	#act1_title h5, #act4_title h5{
		padding-top: 15px;
	    padding-left: 20px;
	}


	/** PIED DE PAGE **/

	footer{
		height: auto;
	}

	footer .wrapper{
		display: block;
		padding: 20px;
	}

	#propos, #nos_heberg, #assist{
		margin: 0px 0 20px 20px;
	}














}
